.jumbotron h1{
  font-size: 60px;
  color: aliceblue;
}

.jumbotron p {
    font-size: 30px;
    color: black;
}

.maincolor{
    background-color: rgb(16, 16, 130);
    color: white;
}

.maincolor:hover{
    background-color: rgb(69, 69, 138);
    color: white;
}

.banner{
    background-image: url('../images/headerimg1.png');
    padding-top: 150px;
    padding-bottom: 150px;
    
}

.titleAnim{
    animation-name: myanim;
    animation-duration: 4s;
    position:relative;
}

@keyframes myanim{

    0%   {opacity: 0.1; top: -100px}
    100%  {opacity: 1.0; top: 0px}
}

.features{
   
    
}


.features i{
    color: rgb(18, 121, 218);
    font-size: 50px;
    padding: 30px;
    margin: 40px 40px 20px 40px;
    border: 1px  solid;
    border-color:rgb(154, 187, 218) ;
    width:120px;
    height: 120px;
    border-radius: 100px;
}

/* .features div{
    display:inline-block;
} */

.features i:hover{
    color: white;
    background-color:rgb(154, 187, 218) ;
   
}
.features p{
   font-weight: bold;
}

.testimonysection{
    background-color: rgb(154, 149, 149);
}

.testimonysection .p-6{
    padding: 10px 150px;
}

  .testimonysection .img-fluid{
    width: 100%;
    height: auto;
}  

.cta{
    background-color: rgb(223, 222, 222);
}

.footer{

    background-color: rgb(73, 82, 90);
}

.footer .nav-link{
    background-color: rgb(43, 47, 51);

    color: white;
    margin: 2px 0px 0px 0px;
    border-radius: 5px;
}

.footer .nav-link:hover{
    background-color: rgb(18, 121, 218);
    
}

.recentcourses .left{
    background-color: rgb(43, 47, 51);
    border-right: 5px solid rgb(18, 121, 218);
}

.recentcourses .left:hover{
    
    background-color:  rgb(18, 121, 218);
}

.recentcourses .left:hover .bottom{
    
    color:white;
}

.recentcourses .bottom{
    color: rgb(158, 161, 165);
}

.recentcourses .top{
    border-bottom: 1px solid gray;
}

.copyrightbar{

    background-color: rgb(73, 82, 90);
    border-top: 1px solid rgb(170, 170, 170);

}

.courses img:hover{
   opacity:0.6;
   transform: translate(0px,-8px);
   transition: transform 0.2s,opacity 0.2s;
   
  
}

